.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

a {
  all: unset;
}

.note-heading {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.note-heading img{
  height: 40px;
  padding: 0 1em;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
  border-radius: 6px;
  padding: 1rem;
}


.add-note{
  padding: 0.5em;
  display: flex;
  align-items: center;
  margin-right: 5%;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  width: max-content;
  background-color: #F7F1E1;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn{
  padding: 0.2em;
}

@media only screen and (max-width: 426px) {
  .nav{
    height: 30px;
  }

  .note-heading {
    height: 30px;
  }

  .note-heading img{
    height: 25px;
    padding: 0 0.5em;
  }

  .note-heading h1{
    font-size: 1.2em;
  }

  .add-btn{
    padding: 0.1em;
  }

  .add-note h3{
    font-size: 0.9em;
  }

}